section {
    width: 500px;
    height: 500px;
    background-color: aqua;
}

#rgba {
    height: 50%;
    width: 50%;
    background-color: blue;
}

#op {
    width: 50%;
    height: 50%;
    background-color: beige;
    opacity: 0.5;
}