.circle {
    height: 50px;
    width: 50px;
    background-color: aqua;
    transition: background-color 1s, border-radius 0.5s 1s;
}

.circle:hover {
    background-color: antiquewhite;
    border-radius: 50%;
}

section div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 1.5s;
}

section:hover div {
    margin-left: 500px;
    transition-timing-function: ease-in;
}